<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>example canvas</title>
	</head>
	<body>
		<div id="lol">hello</div>
		<canvas id="myCanvas" width="800" height="400">
			Your browser does not support the HTML5 canvas tag.
		</canvas> 
		<script type="text/javascript" src="./javascript/jquery.js" ></script>
		<script type="text/javascript" src="./javascript/highcharts.js" ></script>
		<script src='./javascript/lines.js'></script>
	</body>
</html>
